@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	font-family:"microsoft yahei" ,sans-serif;
	margin: 0 auto;
}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:active{text-decoration:none;}

img{
	border: none;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
/*IE/7/6*/
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;
}

.forgot a{
	color: #447bd6;
	font-family: "微软雅黑","宋体",Arial;
	font-size: 14px;
	text-decoration: none;
	}
.forgot a:hover{
	color: #f3ab3a;
	text-decoration: none;
	}
/*header开始*/
.bj1{
	height: 70px;
	margin: 0 auto;
    position: relative;
}
.bj1 a,
.bj4 a{
	color:#A0A0A0;
	font-family: "微软雅黑","宋体",Arial;
	font-size: 16px;
	text-decoration: none;
	}
.bj1 a:hover,
.bj4 a:hover{
	color: #f3ab3a;
	text-decoration: none;
	}
.bj1box{
	width: 1080px;
	margin: 0 auto;
	height: 70px;
}
.bj1 ul {
	width: 660px;
	float: right;
	height: 30px;
	padding: 20px 0;
}
.bj1nav li {
	float: right;
	list-style-type: none;
	line-height: 30px;
	width: 80px;
	padding-right: 25px;
	position: relative;
}
.bj1nav li ul{
	display: none;
	position: absolute;
	width: 105px;
	left: 0;
}
.bj1nav li:hover ul{
	display:block;
	z-index: 1000;
}
.bj1nav li a {
	display: block;
}
.bj1navli a{
	padding-right: 0;
}

.bj1 p {
	width: 250px;
	line-height: 70px;
	float: left;
	color: #999;
	height: 70px;
}
/*header结束*/
/*footer开始*/
.bj4{
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}
.bj4 p {
	width: 1080px; 
	margin: 0 auto;
	line-height:80px;
}
.bj4 p span {
	float: right;
}
/*footer结束*/
/*content开始*/
/*logo*/
.Llogo{
	width:50px;
	height:70px ;
	text-align:center;
}
.Llogo .Llogoimg{
	width:40px;
	height: 40px;
	padding-top:10px;
	display:inline-block;
	text-align:center;
}
.Llogo .Llogoimg a{
	font-size: 14px;
}
.LlogoW{
	display:inline-block;
	position: relative;
	top: -22px;
	left:30px;
	text-align: center;
	font-size:26px;
}

.forgot{
	background-color: #EEE;
}
.forgot .forgot-con{
	text-align: center;
	min-height: 550px;
	}
.forgot .forgot-con .forgot-a{
	background: url(../img/pay-bg-3.jpg)no-repeat;
	background-size: 1080px 550px;
	width:1080px !important;
	margin: 0 auto;
	text-align: left;
	padding-top: 0px;
	min-height: 550px;
	}
.forgot-a .forgot-b{
	position: relative;
	float: right;
	width: 370px;
	/*height:500px;*/
	margin-right:55px;
	margin-top:55px;
	padding:10px 20px;
	background: #fff;
	position: relative;
	filter:alpha(opacity=85); /*IE滤镜，透明度50%*/
    -moz-opacity:0.85; /*Firefox私有，透明度50%*/
    opacity:0.85;/*其他，透明度50%*/
}

.forgot-b .forgot-b-a{
	height: 50px;
	font-size: 20px !important;
	line-height: 50px;
}
.forgot-b .forgot-b-a p{
	padding-left:30px;
	font-weight: bold;
	background: url(../img/code.png) left center no-repeat;
	background-size:25px 25px;
}
.forgot-b .forgot-b-a hr{
	color: #eee;
	background: #eee;
	height: 3px;
	border:none;
}

.forgot-b .forgot-b-b,
.forgot-b .reset{
	padding-top: 10px;
}
.forgot-b .forgot-b-b p,
.forgot-b .reset p{
	height:30px;
    line-height:30px;
    font-size: 16px;
    font-weight: bold;
}
.forgot-b .forgot-b-b ul li,
.forgot-b .reset ul li{
	height: 55px;
	_height: 60px;
	list-style-type: none;
	font-family: "微软雅黑","宋体",Arial;
	font-size: 14px;
	padding-left: 55px;
	/*text-align: center;*/
	text-decoration: none;
	list-style:none;
	}
	
.forgot-b .forgot-b-b ul li label,
.forgot-b .reset ul li label{
	display: inline-block;
	font-size: 16px;
	color: #666666;
	}
.forgot-b .forgot-b-b ul li img,
.forgot-b .reset ul li img{
	display: none;
}	
.forgot-b .forgot-b-b ul li input[type="text"],
.forgot-b .forgot-b-b ul li input[type="password"],
.forgot-b .reset ul li input[type="text"],
.forgot-b .reset ul li input[type="password"]{
	width:190px;
	padding-left: 10px;
	color: rgb(153, 153, 153);
	height: 32px;
	line-height: 32px;
	border: solid 1px #d3d3d3;
	font-size: 14px;
}

.forgot-x-a{
	height:65px;
	margin-left:20px;
	}
.forgot-x-a .forgot-x{
	background-position: right -208px;
	background-image: url(../img/btn-type2.png);
	background-repeat: no-repeat;
	height: 37px;
	float: left;
	width: 3px;
	}
.forgot-x-a input{
	width:200px;
	float: left;
	border: none;
	background-position: 0 -120px;
	background-image: url(../img/btn-type2.png);
	background-repeat: no-repeat;
	height: 37px;
	line-height: 37px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.forgot-b-c{
	font-size: 14px;
	text-align: center;
	margin-left:32 px;
	padding-bottom: 10px;
}
#wordHide3,
#wordHide4{
	display: none;
}




/*content结束*/