
/*con1开始*/

.con1_nav{
	height: 55px;
	line-height: 55px;
	padding-left: 18px;
}
.con1_nav p{
	padding-left: 30px;
	background:url(../img/open.png) no-repeat left center;
}
.con1_nav p span{
	margin-left: 160px;
	color: #999;
	font-size: 20px;
	font-weight: bold;
}
.con1_msg{
	height: 30px;
	line-height: 30px;
	padding-left:18px;
	background: #EEEEEE;
	
}
.con1_msg p{
	padding-left: 60px;
	background: url(../img/horn.png) no-repeat left center ;
}
/*下拉菜单栏（选项卡）*/  
.Smenubar{
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #7d7d7d;
	width:1080px;
	margin:10px 0;
}   
.list{
	width:1080px;
}                        
.listtr td{
	color: #7d7d7d;
	text-align: center;
	border-right: 1px solid #7d7d7d;
	padding: 3px 0;
}
/*.listtr td:hover{
	background: #EEEEEE;
}*/
.list1,
.list2{
	width: 181px;
}
.logisticsBox  .logbox.active{
    display: block;
}
.logisticsBox .logbox{
	display: none;
}
.listtr td.active{
	background: #EEE;
}

/*实体店铺*/
.box{
	margin: 10px 0;
}
.data{
	 padding: 10px 25px;
}
.datatable{
	width: 1030px;
	background: #EEEEEE;
	border-radius: 10px;
	margin: 10px 0;
	text-align: center;
}

.datatable tr td
.detailtable tr td{
    padding: 5px 0;
}
/*店铺明细*/
.detail{
	padding: 10px 25px;
}
.detail img{
	float: right;
}

.detailtable{
	width: 1030px;
	margin: 10px 0;
	text-align: center;
}
.detailtable tr{
	border: 1px solid #7D7D7D;
}
.detailtable tr td{
	padding: 5px 0;
}

.detailtable tr:first-child{
	background: #EEEEEE;
}
/*input设置大小*/
.detailtable input{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.detailtable tr td:last-child{
	text-align: right;
	padding-right: 10px;
}
/*新增实体店铺*/
.newlyShop{
	background: #EEEEEE;
	margin: 10px;
	padding: 10px 0;
	border-radius: 10px;
	display: none;
}
/*nShop1*/
.newlyShop p,
.nShop1,
.nShop2,
.nShop3,
.nShop4{
	margin:5px 15px 15px 15px;
}
.nShop1 fieldset,
.nShop2 fieldset,
.nShop3 fieldset,
.nShop4 fieldset{
	margin: 10px 0;
}
.nShop1,
.nShop2,
.nShop3,
.nShop4{
	background: #FFFFFF;
	padding:5px;
}
.nShop1one input[type=button],
.nShop2one input[value=保存],
.nShop4one input[type=button]{
	float: right;
}
.nS1onespan{
	padding-left: 205px;
}
/*nShop2*/
.nShop2two textarea{
	margin: 0 15px 0 32px;
	width: 970px;
	padding: 5px;
	height: 100px;
	margin-left: 32px;
}
/*nShop3*/
.nShop3one tr td{
	padding:5px 10px;
}
.nShop3one tr td input[type="text"]{
	width: 104px;
}
.nShop3oneBtn{
	text-align: right;
}
.nShop3one tr td:last-child{
	padding: 0 !important;
	width: 94px;
}
/*nShop4*/
.nShop4twoSpan{
	background: #EEEEEE;
	padding: 5px;
	margin-right: 20px;
	border-radius: 5px;
}
.nS4threeTable {
	width: 1010px;
	text-align: center;
	margin: 10px auto;
}
.nS4threeTable tr td{
	border: 1px solid #7D7D7D;
	padding: 5px 0;
}
/*.nS4threeTable tr:hover,
.nS4threeTable tr:visited{
    background: #EEEEEE;
}*/
.shopSubmit{
	height: 30px;
	padding:5px;
}
.blueBtn{
	background: #009843;
	color: #FFF;
	float: right;
}
/*纸箱部分*/
.cartontable{
	width: 1030px;
	border-radius: 10px;
	margin: 10px 0;
	text-align: center;
}
.cartontable tr td{
	padding: 5px 0;
	border: 1px solid #7D7D7D;
}

.cartontable tr:first-child{
	background: #EEEEEE;
}
/*input设置大小*/
.cartontable input{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.cartontable tr td:last-child{
	text-align: right;
	padding-right: 10px;
}
.cartonOperate{
	padding: 0 25px;
	margin-bottom: 50px;
}
.CartonblueBtn{
	background: #009843;
	color: #FFF;
}
/*物流配送模板部分*/
.templet1{
	padding: 10px 25px;
}
.templet1two{
	width: 750px;
	background: #EEEEEE;
	margin:10px 0 10px 36px ;
	padding: 10px;
	border-radius: 10px;
}
.templet1two p{
	padding:5px 0 5px 36px;
}
.templet1two p:first-child{
	padding-left:0;
}
.templet3{
	background: #EEEEEE;
	margin: 10px;
	padding: 10px 0;
	border-radius: 10px;
	display: none;
}
.templet3 p{
	padding:5px 0 10px 25px;
}
.templet3Box{
	background: #FFFFFF;
	margin:5px 15px 15px 15px;
	padding: 5px;
}
.tem3oneTable{
	width: 1030px;
	margin: 10px auto;
}
.tem3oneTable tr td{
	padding: 5px 0;
}
/*修改新增店铺商品在实体店铺库存情况部分*/
.nShop4{
   position:relative ;
}

.nShop4modify{
	width: 1030px;
	margin:5px 0 15px 0;
	background: #FFFFFF;
	padding-bottom: 10px;
	border-radius: 10px;
	/*box-shadow:3px 3px 40px #EEEEEE;*/
	display: none;
}
.nShop4modifyTop{
	background: #EEEEEE;
	height: 30px;
	line-height: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.nShop4modifyTop ul li{
	display: inline-block;
	padding: 0 10px;
}
.nShop4modifyTop ul li:last-child{
	float: right;
}
.nShop4modifyTop ul li:nth-of-type(2){
	padding-left: 35%;
}

.nShop4modifyMain table tr td{
	padding: 10px 42px;
}
#nShop4modifyMod{
	position:absolute;
	z-index: 10000;
    top:-310px;
    left: 0;
}
#nShop4modifyNew{
	position:absolute;
	z-index: 10000;
    top:-350px;
    left: 0;
}
.nShop4two{
	display: none;
}

/*遮盖层*/
.maskingLayer{
	display:none;  
    width:100%;  
    height:100%;  
    background:#000;  
    position:absolute;  
    top:0;  
    left:0;  
    z-index:9999;  
    opacity:0.5;                        /*背景的透明度:(Firefox适用；）*/  
    filter:alpha(opacity =50);          /*背景的透明度:(IE适用)；  
}