/*所有下拉框的样式*/
.dropdown {
	width: 175px !important;
	height: 30px !important;
	padding: 0 5px;
	margin: 0;
	border: 1px solid #A0A0A0;
}
.dropdown ul{
	left: -1px;
}
.sellteP{
	padding:10px 0;
}
.dropdown .heightP{
	height:19px !important;
	}
/*input*/
input[type=text],
input[type=number],
input[type=password]{
	height: 30px;
    border: 1px solid #A0A0A0;
    color: #999;
}
/*中文*/
.content{
	border: none !important;
}
/*右边卖家入驻*/
.content .you {
	float: left;
	margin: 10px 30px;
	font-size: 16px;
}
.you .y-title{
	height:40px;
	padding: 0 10px;
	line-height:40px;
	border: 1px dashed #999;
	background: #EEE;
}

.y-title .y-titleR{
	float: right;
}
.you .settled,
.you #personal,
.you #organize,
.you #submitting{
	margin: 10px 0;
	padding:20px 10px;
	border: 1px solid #999;
}
.settled .settled-one{
	width: 100%;
}
.settled-one .one-explain{
	width: 100%;
}
.settled-one .one-explain .oneGuide{
	margin: 10px 0;
}
.settled-one .one-explain p{
	padding: 5px 0;
}
.settled-one .one-explain p:last-child{
	line-height: 25px;
}
.bigSize{
	font-size: 24px;
}
.smallSize{
	font-size: 14px;
}
.weight{
	font-weight: bold;
}
.settled-one .one-flow{
	width: 100%;
	padding: 10px 0;
}
.settled-one .one-flow ul{
	width:100% ;
	background: #EEE;
}
.settled-one .one-flow ul li{
	display: inline-block;
	padding:10px 64px;
	border-right: 1px solid #ccc;
	background: url(../img/all.png) 20px center no-repeat;
}
.settled-one .one-flow ul li:nth-of-type(2){
	background: url(../img/form.png) 20px center no-repeat;
}
.settled-one .one-flow ul li:last-child{
	border-right: none;
	background: url(../img/success.png) 20px center no-repeat;
}
.settled-one .one-choice{
	width: 100%;
	padding: 10px 0;
}
.one-choice .choiceMain{
	width: 550px;
	padding: 20px 0;
	margin:0 auto;
}
.choiceMain .cAlone{
	float: left;
	width: 250px;
	height:380px;
	padding: 10px 0;
	margin-right: 45px;
	border: 1px solid #F60;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;  
	background-image: -moz-linear-gradient(top , #FCE9DA, #ffc299);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FCE9DA), to(#ffc299));
	background-image: -o-linear-gradient(top , #FCE9DA, #ffc299);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FCE9DA,endcolorstr=#ffc299,gradientType=0);
    box-shadow: 0 2px 10px #FCE9DA, 0 0 10px #FCE9DA, 0 0 10px #FCE9DA; 
	-moz-box-shadow:0 2px 10px #FCE9DA, 0 0 10px #FCE9DA, 0 0 10px #FCE9DA;  
	-webkit-box-shadow:0 2px 10px #FCE9DA, 0 0 10px #FCE9DA, 0 0 10px #FCE9DA; 
}
.choiceMain .cOrganize{
	float: left;
	width: 250px;
	height:380px;
	padding: 10px 0;
	border: 1px solid #093;
	filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;  
	background-image: -moz-linear-gradient(top , #eef9fe, #d1ecff);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#eef9fe), to(#d1ecff));
	background-image: -o-linear-gradient(top , #eef9fe, #d1ecff);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#eef9fe,endcolorstr=#d1ecff,gradientType=0);
    box-shadow: 0 2px 10px #eef9fe, 0 0 10px #eef9fe, 0 0 10px #eef9fe; 
	-moz-box-shadow:0 2px 10px #eef9fe, 0 0 10px #eef9fe, 0 0 10px #eef9fe;  
	-webkit-box-shadow:0 2px 10px #eef9fe, 0 0 10px #eef9fe, 0 0 10px #eef9fe; 
}
.cAlone .cAloneLogo,
.cOrganize .cOrLogo{
	width: 60px;
	height: 60px;
	margin-left:95px;
	border-radius: 30px;
	line-height: 60px;
	background: #F60;
}
.cOrganize .cOrLogo{
	background: #093;
}
.cAloneMain,
.cOrMain{
	padding: 10px 20px;
}
.cAloneMain p,
.cOrMain p{
	padding: 5px 0;
}
.cAloneMain hr{
	margin: 5px 0;
	border:0;
	background-color:#f60;
	height:1px;
}
.cOrMain hr{ 
	margin: 5px 0;
	border:0;
	background-color:#093;
	height:1px;
}
.cAlone .cAloneBtn,
.cOrganize .cOrBtn{
	width:250px;
	margin: 0 auto;
	padding:30px 0;
	text-align:center;	
}
.AloneBtn{
	width: 100px;
	height: 40px;
	padding:10px;
	margin:0 auto;
	border-radius: 5px;
	cursor:pointer;
	color: #FFF;
	filter:alpha(opacity=75);  
    -moz-opacity:0.75;  
    -khtml-opacity: 0.75;  
    opacity: 0.75; 
    background-image: -moz-linear-gradient(top , #FCE9DA, #F60);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FCE9DA), to(#F60));
	background-image: -o-linear-gradient(top , #FCE9DA, #F60);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FCE9DA,endcolorstr=#F60,gradientType=0);
}
.AloneBtn:hover,
.AloneBtn:active{
	box-shadow: 0 2px 5px #F60, 0 0 1px #F60, 0 0 1px #F60; 
	-moz-box-shadow: 0 2px 5px #F60, 0 0 1px #F60, 0 0 1px #F60;  
	-webkit-box-shadow: 0 2px 5px #F60, 0 0 1px #F60, 0 0 1px #F60; 
}
.OrBtn{
	width: 100px;
	height: 40px;
	padding:10px;
	margin:0 auto;
	border-radius: 5px;
	cursor:pointer;
	color: #FFF;
	filter:alpha(opacity=75);  
    -moz-opacity:0.75;  
    -khtml-opacity: 0.75;  
    opacity: 0.75; 
    background-image: -moz-linear-gradient(top , #eef9fe, #093);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#eef9fe), to(#093));
	background-image: -o-linear-gradient(top , #eef9fe, #093);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#093,endcolorstr=#093,gradientType=0);
}
.OrBtn:hover,
.OrBtn:active{
	box-shadow: 0 2px 5px #093, 0 0 1px #093, 0 0 1px #093; 
	-moz-box-shadow:0 2px 5px #093, 0 0 1px #093, 0 0 1px #093;  
	-webkit-box-shadow:0 2px 5px #093, 0 0 1px #093, 0 0 1px #093; 
}
/*个人商家*/
#personal .per-Main,
#organize .org-Main{
	width: 100%;
}
.per-p{
	width: 100%;
	height: 50px;
	padding: 15px 0;
	font-size: 24px;
	font-weight: bold;
}
.per-Main .per-Title{
	width: 100%;
}
.per-box{
	width:700px;
	padding-left:50px;
	margin: 0 auto;
}
.per-Title ul {
	position: relative;
	margin-left:-100px;
	color: #FFF;
}
.per-Title ul li{
	display: inline-block;
	width:250px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	background: url(../img/nextnew.png) center center no-repeat;
	background-size: 250px 250px;
}
.per-Title ul li:first-child{
	position: relative;
	top: 0;
	left:195px;
}
.per-Title ul li:nth-of-type(2){
	position: relative;
	top: 0;
	left:130px;
}
.per-Title ul li:nth-of-type(3){
	position: relative;
	top: 0;
	left:65px;
}

.per-box{
    padding: 0 10px;
}
.per-box p{
	padding: 10px 0;
}

.per-box .per-Form{
	width: 100%;
	position: relative;
}
.Form-sketch{
	padding: 10px 0 10px 25px !important;
	font-size: 14px;
	background: url(../img/Why.png) center left no-repeat;
	background-size: 20px 20px;
}
.Form-sketch .Form-a{
	border-bottom: 1px solid #A0A0A0;
}
.Form-sketch .Form-a:hover,
.Form-sketch .Form-a:active{
	color: red;
	border-bottom: 1px solid red;
}
.sketchMain{
	position: absolute;
	top:40px;
	left: 200px;
	z-index: 1000;
	width: 450px;
	padding: 10px;
	background: #FEFEFE;
	box-shadow: 0 2px 5px #EEE, 0 0 5px #EEE, 0 0 5px #EEE; 
	-moz-box-shadow:0 2px 5px #EEE, 0 0 5px #EEE, 0 0 5px #EEE;  
	-webkit-box-shadow:0 2px 5px #EEE, 0 0 5px #EEE, 0 0 5px #EEE; 
}
.sketchMain p{
	padding: 5px 0;
}
.perHr{
	width: 100%;
	height: 3px;
	background: #EEE;
	border-top: none;
}
/*下一步按钮*/
.per-box .nextBtn{
	float: right;
	background:#008B00 !important;
	border-radius: 0 !important;	
}
.per-box .nextBtn:hover,
.per-box .nextBtn:active{
	background: #093 !important;
	font-weight:800;
	box-shadow: 0 2px 5px #EEE, 0 0 5px #EEE, 0 0 5px #EEE; 
	-moz-box-shadow:0 2px 5px #EEE, 0 0 5px #EEE, 0 0 5px #EEE;  
	-webkit-box-shadow:0 2px 5px #EEE, 0 0 5px #EEE, 0 0 5px #EEE; 
}
.Dleft{
	padding-left: 95px !important;
	}
.credright{
	padding-right: 16px;
}
.IDcade{
	width:100%;
}
.IDcade .IDcadeUl li{
	display: inline-block;
	width:200px;
	padding: 10px 0;
	text-align: center;
}
.boxbtn{
	padding:20px 0 ;
}
.Datum,
.credentials,
.aptitude,
.cost{
	padding: 20px 0;
}

.hide{
	display: none;
}
.active{
	display: block;
}
.Tactive{
	background: url(../img/nextused.png) center center no-repeat !important;
	background-size: 250px 250px !important;
}
#submitting .submitW{
	padding: 20px 0;
	font-size: 26px;
}
/*组织商家*/
.big-Crede{
	font-weight: bold;
	font-size: 20px !important;
}
#cachet{
	padding-left: 25px;
	background:url(../img/stress.png) left center no-repeat;
	background-size: 25px 25px;
}
#IDexplain{
	margin-left: 100px;
}
.form-padd{
	padding-left:60px;
}
/*营业执照说明*/
.credentials{
	position: relative;
}
#ID-paper{
	position: absolute;
	top: 180px;
	left: 380px;
	width: 390px;
	padding: 10px;
	border-radius:5px;
	z-index:1000;
	background:#FEFEFE;	
	box-shadow: 0 2px 5px #EEE, 0 0 5px #EEE, 0 0 5px #EEE; 
	-moz-box-shadow:0 2px 5px #EEE, 0 0 5px #EEE, 0 0 5px #EEE;  
	-webkit-box-shadow:0 2px 5px #EEE, 0 0 5px #EEE, 0 0 5px #EEE; 
}
#ID-paper #paper-table{
	width: 100%;
	margin: 5px 0;
}
#ID-paper #paper-table tr td{
	padding: 5px 10px;
}
#ID-paper #paper-title{
	width: 100%;
	height: 30px;
	font-weight: bold;
}
.Close:hover,
.Close:active{
	color: #000;
}
#ID-paper .Wleft{
	padding-left: 32px;
}
/*开户许可证*/
#accoun{
	padding-top: 20px;
}
