

.table{
	font-size:16px; 
	width:195px; 
	margin:0 10px;
	text-align:left;
}
.table tr{
   width:195px;
}
.table tr td{
	padding-bottom: 10px;
}

/*contet开始*/
.content {
	width: 1080px;
	border: 1px solid #7D7D7D;
	border-top: none;
	margin: 0 auto;
	color:#A0A0A0;
}
.content .zuo {
	width: 195px;
	height: 100%;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #7D7D7D;
}
.content .zuo ul {
	color: #A0A0A0;
}
.content .zuo .zuotitle {
	font-size: 18px;
	font-weight: bold;
	list-style-type: none;
	height: 45px;
	line-height: 45px;
	*line-height:45px;
}
.zuotitleBack{
	background-color:#EEE;
	border-top:1px solid #7D7D7D;
	border-bottom:1px solid #7D7D7D;
}
.content .you {
	float: left;
	width: 824px;
	margin: 10px 30px;
	font-size: 16px;
}
.you{
	font-size: 14px !important;
}
.you .y-title{
	height:40px;
	padding: 0 10px;
	line-height:40px;
	border: 1px dashed #999;
	background: #EEE;
}

.y-title .y-titleR{
	float: right;
}
/*间距*/
.y-search .searchGAP{
	padding-left: 60px;
}
.y-search fieldset{
	padding: 10px 0;
}

.y-search input[type="text"]{
	width:150px;
	height: 25px;
	padding: 0 !important;
	border: 1px solid #A0A0A0 !important;
}
.y-search .dropdown{
	width: 150px !important;
}
.y-search .searchBtn{
	padding:10px 50px;
}
/*订单管理*/
#order{
	padding:30px 0;
}
#order .order-list{
	height: 35px;
}
.order-list ul{
	height: 35px;
}
.order-list ul li{
	display: inline-block;
	float: left;  
	list-style: none; 
	padding:10px 5px;
	border-bottom:2px solid #eee;
}
.order-list ul li a{
	padding: 0 5px;
	font-weight: bold;
}
.order-title{
	height:50px;
	width: 100%;
	line-height:50px;
}
.order-title label,
.order-title span{
	padding: 0 10px;
}
.order-title .titleBox{
	padding:2px 5px;
	border: 1px solid #999;
	border-radius: 5px;	
}
#orderAllbox{
	width: 100%;
	margin-bottom: 20px;
}
#orderAllbox .orderboxt{
	height: 35px;
}
#orderAllbox .orderboxt ul{
	height: 35px;
	padding: 0 10px;
	line-height: 35px;
	background: #EEE;
	border: 1px solid #ccc;
}
#orderAllbox .orderboxt ul li{
	float:left;
	text-align: center;
}
#orderAllbox .boxW1{
	width: 250px;
}
#orderAllbox .boxW2{
	width: 50px;
}
#orderAllbox .boxW3{
	width: 50px;
}
#orderAllbox .boxW4{
	width:90px;
}
#orderAllbox .boxW5{
	width:120px;
}
#orderAllbox .boxW6{
	width:80px;
}
#orderAllbox .boxW7{
	width:100px;
}
#orderAllbox .boxW8{
	width:60px;
}

#orderAllbox .orderbox{
	width: 100%;
	margin: 10px 0;
	border: 1px solid rgb(178,214,248);
}
.orderbox ul{
	width: 100%;
}
.orderbox .oboxt{
	height:45px;
	padding-left: 10px;
	border-bottom:1px solid #EEE;
	line-height:45px;
	background: rgb(234,249,255);
}
.orderbox .obox-list{
	width: 100%;
}
.left-border{
	border-left: 1px solid #EEE;
}
.right-border{
	border-right: 1px solid #EEE;
}
.bottom-border{
	border-bottom: 1px solid #EEE;
}

.obox-list .list-left{
	width: 450px;
	float: left;
}
.list-left .list-left-box{
	width: 100%;
	height:150px;
}
.list-right .list-right-box{
	position: relative;
	width:100px;
	height:422px;
	float: left;
}
.list-left-box ul li{
	display: inline-block;
}

.list-left-box .boxWimg{
	width:80px;
}
.list-left-box .boxW-depict{
	width:165px ;
	padding:5px 0 0 5px;
}
.list-left-box .boxW-depict li{
	padding:5px 0;
	text-align: center;
}
.list-left-box .boxL-position{
	position: relative;
	top:-105px;
	left: 0;
}
.color0{
	color: #696969!important;
}
.list-left-box .boxW2{
	width: 50px;
}
.list-left-box .boxW3{
	width: 50px;
}
.list-left-box .boxW4{
	width: 70px;
}

.list-right-box{
	padding:15px 0;
}
.list-right-box ul li{
	text-align: center;
}
.list-right-box .cheques li{
	padding-bottom: 5px;
}
.list-right-box .message{
	border-top-left-radius:20px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	background: #EEE;
}
.list-right-box .order-P{
	padding: 0 3px;
	color: #FFF;
	background:#66b0fe;
}
